/* styles.css */

/* General styles */

button {
  font-weight: bold;
  width: fit-content;
  padding: 10px 15px;
  background-color: #00B8FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0F81FF;
}

.header-item {
  font-size: 14px;
  color: #f9f9f9;
  cursor: pointer;
}

.header-item:hover,
.nav-item:hover {
  color: #d5d3d3;
}

.inner-container {
  display: flex;
  margin: auto 0;
  width: auto;
}

.inner-container-left,
.inner-container-right {
  background: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.temp-div {
  margin: auto;
}

.copy-url,
.tinyUrlQr {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.copy-url {
  background-color: green;
}

.copy-url:hover {
  background-color: darkgreen;
}

#newTinyUrl {
  font-size: 18px;
  color: #00B8FF;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  font-weight: bold;
  text-align: center;
}

#newTinyUrl:hover {
  color: #0F81FF
}

.input-section {
  display: flex;
  flex-direction: column;
}

.input-text-bar {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  min-width: auto;
}

.input-text-bar.url,
.input-text-bar.alias {
  width: 50%;
}

.input-url-container {
  display: flex;
  min-width: auto;
  column-gap: 10px;
}

input[type="text"] {
  width: 100%;
  outline: none;
  border: none;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.qr-text {
  margin-top: 20px;
}

#download-link {
  cursor: pointer;
  font-weight: bold;
  width: 90%;
  text-align: center;
  margin-top: 30px;
  color: #00B8FF;
  border: 1px solid #00B8FF;
  padding: 8px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#download-link:hover {
  background-color: #fff;
  color: #0F81FF;
}

/* CSS for the tip small tag */
.tip {
  color: #444;
  display: block;
  background-color: #f9f9f9;
  border-left: 4px solid #00B8FF;
  padding: 8px;
  margin: auto;
  font-size: 0.9em;
  font-style: italic;
}

/* Footer */
footer {
  color: #fff;
  font-size: 12px;
}

.footer-items {
  display: flex;
  justify-content: space-between;
}

.text-red {
  color: red;
}

span.clear-icon,
span.copy-icon,
span.qr-icon {
  font-size: 16px;
  cursor: pointer;
}

span.clear-icon {
  color: #444;
  font-weight: 600;
}

.qr-text {
  text-align: center;
  font-weight: bold;
}

/* Responsive styles */

@media (max-width: 768px) {
  .header-item {
    font-size: 13px;
  }

  .inner-container {
    flex-direction: column;
  }

  .inner-container-left,
  .inner-container-right {
    width: auto;
  }

  footer {
    font-size: 11px;
  }
}

/* CSS Loader Style */
.css-loader {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #00B8FF;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}